backend/*.swp
backend/*.*~
backend/project.lock.json
backend/.DS_Store
backend/*.pyc
backend/nupkg/
backend/.vscode/
backend/.idea/
backend/.vs/
backend/.fleet/
backend/.cr/
backend/*.suo
backend/*.user
backend/*.userosscache
backend/*.sln.docstates
backend/[Dd]ebug/
backend/[Dd]ebugPublic/
backend/[Rr]elease/
backend/[Rr]eleases/
backend/x64/
backend/x86/
backend/build/
backend/bld/
backend/[Bb]in/
backend/[Oo]bj/
backend/[Oo]ut/
backend/msbuild.log
backend/msbuild.err
backend/msbuild.wrn
