.mainBackground {
    background: linear-gradient(90deg, #75B5D9 0%, #96C5D9 50%, #A8C9D4 75%, #B0CED4 88%, #B9D0D2 100%);
}


.title {
    font-size: rem(26px);
    font-weight: 900;
    font-family:
        Greycliff CF,
        var(--mantine-font-family);
}

.controls {
    @media (max-width: 576px) {
        /* 替換為實際的像素值 */
        flex-direction: column-reverse;
    }
}

.control {
    @media (max-width: 576px) {
        /* 同樣替換為像素值 */
        width: 100%;
        text-align: center;
    }
}